In [1]:
#1.leap year
year=int(input('enter a year:'))
if year%4==0:
    print('leap year')
else:
    print('not a leap year')

enter a year:2022
not a leap year

In [2]:
#2.string manipulation
a='bishop heber'
c=len(a)
print(c)
c=a.upper()
print(c)
d=a.capitalize()
print(d)

12
BISHOP HEBER
Bishop heber

In [3]:
#3.looping
for i in range(1,9,2):
    print(i)

1
3
5
7

In [ ]:
#4.list
fruits=['apple','banana','cherry','kiwi','mango']
a=[]
s=len(fruits)